@font-face {
	font-family: 'Roboto';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Roboto-Bold.woff2) format('woff2'),
		url(../../fonts/Roboto-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: italic;
	font-display: swap;
	src: url(../../fonts/Roboto-Italic.woff2) format('woff2'),
		url(../../fonts/Roboto-Italic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 300;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Roboto-Light.woff2) format('woff2'),
		url(../../fonts/Roboto-Light.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Roboto-Medium.woff2) format('woff2'),
		url(../../fonts/Roboto-Medium.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 500;
	font-style: italic;
	font-display: swap;
	src: url(../../fonts/Roboto-MediumItalic.woff2) format('woff2'),
		url(../../fonts/Roboto-MediumItalic.woff) format('woff');
}

@font-face {
	font-family: 'Roboto';
	font-weight: 400;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/Roboto-Regular.woff2) format('woff2'),
		url(../../fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
	font-family: 'Roboto Condensed';
	font-weight: 700;
	font-style: normal;
	font-display: swap;
	src: url(../../fonts/RobotoCondensed-Bold.woff2) format('woff2'),
		url(../../fonts/RobotoCondensed-Bold.woff) format('woff');
}
