body::before {
	content: '';

	// позиционирование
	position: fixed;
	width: 1820px;
	top: 0;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);

	// отменяем взаимодействие с сеткой
	pointer-events: none;
	// отменяем повор сетки для случаев когда края меньше расстояния меньше колонками
	background-repeat: no-repeat;

	// от края контента до первой колоки
	--grid-sides: 0px;
	// расстояние между колонками
	--grid-gutter: 20px;
	// количество колонок
	--grid-colums: 12;
	// цвет колонок
	--grid-color: rgba(255, 0, 0, 0.1);
	// ширина колонки
	--grid-column-width: calc((100% - var(--grid-gutter) * var(--grid-colums)) / var(--grid-colums));

	border-left: calc(var(--grid-sides) - var(--grid-gutter) / 2) solid rgba(255, 0, 0, 0.2);
	border-right: calc(var(--grid-sides) - var(--grid-gutter) / 2) solid rgba(255, 0, 0, 0.2);

	// сетка
	background-image: repeating-linear-gradient(to right,
			transparent 0,
			transparent calc(var(--grid-gutter) / 2),
			var(--grid-color) calc(var(--grid-gutter) / 2),
			var(--grid-color) calc(var(--grid-column-width) + var(--grid-gutter) / 2),
			transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2),
			transparent calc(var(--grid-column-width) + var(--grid-gutter)));
}

@media (min-width: 768px) {
	body::before {
		// от края контента до первой колоки
		--grid-sides: 40px;
		// количество колонок
		--grid-colums: 12;
	}
}
