html {
	height: 100%;
}

body {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-width: 1900px;
	min-height: 100%;
	margin: 0;
	font-size: 24px;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.visually-hidden {
	position: absolute;
	width: 0;
	height: 0;
	margin: 0;
	padding: 0;
	overflow: hidden;
	border: none;
}

.title {
	margin: 0;
	font-weight: 700;
	font-size: 128px;
	line-height: 1.17;
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}

.primary {
	color: #f5333f;
}

.section {
	padding: 98px 0;
}

.container {
	box-sizing: border-box;
	max-width: 1880px;
	margin: 0 auto;
	padding-right: 40px;
	padding-left: 40px;
}

.container--dark {
	max-width: 1800px;
	padding: 101px 77px;
	color: #ffffff;
	background-color: #212121;
	border-radius: 20px;
}

.list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.list li {
	position: relative;
	padding-left: 20px;
}

.list li::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 0;
	width: 10px;
	height: 10px;
	background-color: #f5333f;
	border-radius: 50%;
}

.db {
	display: block;
}
