.button {
	display: inline-block;
	padding: 10px 25px;
	font-weight: 500;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $primary;
	border: 0;
	border-radius: 5px;
	appearance: none;
}

.button:not(:disabled):hover {
	cursor: pointer;
	opacity: 0.8;
}

.button:active {
	opacity: 0.4;
}

.button--transparent {
	color: $primary;
	background-color: transparent;
}
