.button {
	display: inline-block;
	font-weight: 500;
	font-size: 20px;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	background-color: $primary;

	&--transparent {
		color: $primary;
		background-color: transparent;
	}
}
