.clients {
	border-bottom: 1px solid #c2c2c2;
}

.clients__container {
	padding-top: 39px;
	padding-bottom: 40px;
}

.clients__container > * {
	margin-top: 0;
}

.clients__container > *:last-child {
	margin-bottom: 0;
}

.clients__list {
	display: grid;
	grid-template-columns: repeat(auto-fit, 180px);
	align-items: center;
	padding: 0 20px;
	list-style-type: none;
	gap: 68px 136px;
}

.clients__list img {
	display: block;
}

.clients__link {
	&:hover {
		opacity: 0.8;
	}

	&:active {
		opacity: 0.4;
	}
}
