.footer {
	color: #ffffff;
	background-color: #212121;
}

.footer__container {
	display: flex;
	align-items: flex-start;
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer__logo {
	margin-right: 140px;
}

.footer__nav {
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin: 0;
	padding: 0;
	list-style-type: none;
	gap: 20px 80px;
}

.footer__link {
	font-weight: 300;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.footer__social-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 auto;
	padding: 0;
	list-style-type: none;
	gap: 40px;
}
