.footer {
	color: #ffffff;
	background-color: #212121;
}

.footer__container {
	display: flex;
	align-items: flex-start;
	padding-top: 80px;
	padding-bottom: 80px;
}

.footer__logo {
	margin-right: 140px;
}

.footer__nav {
	display: grid;
	grid-template-columns: repeat(3, auto);
	margin: 0;
	padding: 0;
	list-style-type: none;
	gap: 20px 80px;
}

.footer__link {
	font-weight: 300;
	font-size: 20px;
	color: #ffffff;
	text-decoration: none;
}

.footer__social-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 0 0 auto;
	padding: 0;
	list-style-type: none;
	gap: 40px;
}

.footer__social-link {
	position: relative;
	display: block;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.footer__social-link::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

.footer__social-link--1::before {
	background-image: url(../../img/social/twiter.svg);
}

.footer__social-link--2::before {
	background-image: url(../../img/social/linkedin.svg);
}

.footer__social-link--3::before {
	background-image: url(../../img/social/facebook.svg);
}
