.form__title {
	font-weight: 700;
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

.form__input {
	font-size: 20px;
	font-weight: 300;
	font-family: inherit;
}

.form__notes {
	font-size: 20px;
	font-weight: 300;
	color: #c2c2c2;
}
