.form__title {
	margin: 0 0 20px;
	font-weight: 700;
	font-size: 40px;
	font-family: 'Roboto Condensed', sans-serif;
}

.form__inner {
	display: flex;
}

.form__inner:not(:last-child) {
	margin-bottom: 20px;
}

.form__input {
	display: block;
	width: 100%;
	font-weight: 300;
	font-size: 20px;
	font-family: inherit;
}

.form__notes {
	margin: 0;
	font-weight: 300;
	font-size: 20px;
	color: #c2c2c2;
}
