.header__top {
	border-bottom: 1px solid #c2c2c2;
}

.header__top .container {
	display: flex;
	align-items: center;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header__bottom .container {
	padding: 148px 650px 148px 40px;
}

.header__logo {
	margin-right: 120px;
}

.header__top-button {
	margin-left: auto;
}

.header__bottom {
	background-image: url(../../img/waves-top.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	border-bottom: 1px solid #c2c2c2;
}

.header__title {
	margin-bottom: 10px;
}

.header__subtitle {
	margin: 0 0 40px;
	font-weight: 300;
	font-size: 32px;
}
