.header__top .container {
	padding-top: 30px;
	padding-bottom: 30px;
	display: flex;
	align-items: center;
}

.header__bottom .container {
	padding: 148px 650px 148px 60px;
}

.header__logo {
	margin-right: 120px;
}

.header__top-button {
	margin-left: auto;
}

.header__title {
	margin-bottom: 10px;
}

.header__subtitle {
	margin: 0 0 40px;
	font-size: 32px;
	font-weight: 300;
}
