.providers__container {
	display: grid;
	align-items: center;
	grid-template-columns: 1270px 1fr;
	gap: 40px 91px;
}

.providers__footer-text {
	line-height: 130%;
}

.providers__list {
	gap: 30px;
}

.providers__footer {
	display: grid;
	grid-column: span 2 / auto;
	grid-template-columns: 1fr 1fr;
	gap: 200px;
}
