.providers {
	background-color: #fafafa;
	background-image: url('../../img/waves.png');
	background-image: image-set(url('../../img/waves.avif') type('image/avif'),
			url('../../img/waves.png'));
	background-repeat: no-repeat;
	background-position: -300px center;
	background-size: contain;
}

.providers__container {
	display: grid;
	align-items: center;
	grid-template-columns: 1270px 1fr;
	gap: 40px 91px;
}

.providers__list {
	gap: 30px;
}

.providers__footer {
	display: flex;
	grid-column-end: -1;
	grid-column-start: 1;
}

.providers__footer-text {
	box-sizing: border-box;
	width: 50%;
	margin: 0;
	line-height: 130%;
}

.providers__footer-text:nth-child(odd) {
	padding-right: 100px;
}

.providers__footer-text:nth-child(odd):not(:last-child) {
	border-right: 2px solid #ffffff;
}

.providers__footer-text:nth-child(even) {
	padding-left: 100px;
}
