.services {
	background-color: #fafafa;
	background-image: url('../../img/waves.png');
	background-image: image-set(url('../../img/waves.avif') type('image/avif'),
			url('../../img/waves.png'));
	background-repeat: no-repeat;
	background-position: -300px center;
	background-size: contain;
}

.services__container {
	display: grid;
	align-items: center;
	grid-template-columns: 850px auto;
	gap: 114px;
}

.services__list {
	gap: 23px;
}
