.subscription {
	background-color: #f5f5f5;
	border-top: 1px solid #d1d1d1;
}

.subscription__container {
	display: grid;
	grid-template-columns: 746px 1fr;
	grid-template-rows: auto 1fr;
	padding-bottom: 97px;
}

.subscription__title {
	margin: 0 0 10px;
}

.subscription__subtitle {
	grid-column-start: 1;
	margin: 0;
	font-weight: 700;
	color: #f5333f;
	text-indent: 4px;
}

.subscription__content {
	grid-column-start: 2;
	grid-row-end: 3;
	grid-row-start: 1;
	line-height: 130%;
}

.subscription__content p {
	margin: 0;
}

.subscription__content p:not(:last-child) {
	margin-bottom: 30px;
}

.subscription__form {
	padding-top: 7px;
}
